[submodule "monolith"]
	path = monolith
	url = git@github.com:Y2Z/monolith.git
[submodule "xsv"]
	path = xsv
	url = git@github.com:BurntSushi/xsv.git
[submodule "so"]
	path = so
	url = git@github.com:samtay/so
[submodule "ripgrep"]
	path = ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
