[submodule "monolith"]
	path = monolith
	url = git@github.com:Y2Z/monolith.git
[submodule "xsv"]
	path = xsv
	url = git@github.com:BurntSushi/xsv.git
[submodule "so"]
	path = so
	url = git@github.com:samtay/so
[submodule "ripgrep"]
	path = ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
[submodule "grex"]
	path = grex
	url = git@github.com:pemistahl/grex.git
[submodule "starship"]
	path = starship
	url = git@github.com:starship/starship.git
[submodule "tokei"]
	path = tokei
	url = git@github.com:XAMPPRocky/tokei.git
[submodule "fd"]
	path = fd
	url = git@github.com:sharkdp/fd.git
[submodule "hyperfine"]
	path = hyperfine
	url = git@github.com:sharkdp/hyperfine.git
[submodule "bat"]
	path = bat
	url = git@github.com:sharkdp/bat.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "pueue"]
	path = pueue
	url = git@github.com:Nukesor/pueue.git
